.footer    
  .row
    .container.text-center
      h4
        | Follow us! We are there on
    ul.list-inline.banner-social-buttons(style="text-align:center")                                
          li
            a.btn.btn-default.btn-lg(href='#')
              i.fa.fa-facebook.fa-fw
              |  
              span.network-name Facebook
          |                     
          li
            a.btn.btn-default.btn-lg(href='#')
              i.fa.fa-google-plus.fa-fw
              |  
              span.network-name Google+
  .row
    ul.list-inline.pull-left(style="padding-left : 30px")
          li           
            a(href="/privacypolicy") 
              | Privacy Policy |
          li
            a(href="/termsandconditions") 
              | Terms and Conditions |
          //li
            //a(href="#") 
              //| FAQ
  //.row            
    //.container.text-center      
      //p 
        //| Copyright &copy; Your Website 2014