head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title= 'residentexperiences'
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content="tenant,experiences,share,locality,property,rating,tenant speak")
  meta(name="description", content="A wholesome repository experiences of staying in a locality from current/previous tenants! Come, share your experience with the rest of the world!")

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
  //link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.css") 
  //link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/business-casual.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800",  type="text\css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic",  type="text\css")
  //link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic",  type="text\css")
  //link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat:400,700",  type="text\css")
  link(rel="stylesheet", href="/stylesheets/jquery.Jcrop.css")
  link(rel="stylesheet", href="/stylesheets/grayscale.css")
  link(rel="stylesheet", href="/stylesheets/sidebar.css")

  script(src = "http://code.jquery.com/jquery-1.10.1.min.js")
  script(src = "/javascripts/bootstrap.js")
  script(src = "/javascripts/globalJSON.js")
  script(src = "/javascripts/jquery.Jcrop.min.js")
  script(src = "/javascripts/jquery.easing.min.js")
  script(type = "text/javascript" src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false")
  script(src = "/javascripts/grayscale.js")
  script(src="/javascripts/global.js")
  //script(src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")

