header#header
  .col-lg-12
    .brand.col-lg-10 ResidentExperiences   
    .login-holder.col-lg-2           
      if req.isAuthenticated()  
        .welcomebox 
          .dropdown
            .btn.btn-default.dropdown-toggle(id = "loginDropdown", data-toggle = "dropdown", aria-expanded = "true") 
              if req.user.twitter.username != null     
                Welcome #{req.user.twitter.username} &nbsp;                                     
              else if req.user.facebook.username != null
                Welcome #{req.user.facebook.username} &nbsp;       
              else if req.user.google.username != null            
                Welcome #{req.user.google.username} &nbsp;
              else
                Welcome #{req.user.local.username} &nbsp;
              .caret        
            ul.dropdown-menu(role="menu", aria-labelledby="loginDropdown")
              li(role="presentation")            
                a(href="/user/profile/" + req.user._id, role="menuitem", tabindex = "-1") Edit Profile 
                  i.fa.fa-user
              li(role="presentation")            
                a(href="/user/profile/photo/" + req.user._id, role="menuitem", tabindex = "-1") Upload/Change Profile Photo
                  i.fa.fa-user
              li(role="presentation")
                a(href="/messages", role="menuitem", tabindex = "-1") Inbox &nbsp;
                  i.fa.fa-inbox
              li(role="presentation")
                a(href="/logout", role="menuitem", tabindex = "-1") Logout &nbsp;
                  i.fa.fa-sign-out                                      
      else                     
        //.dropdown
          //.btn.btn-default.dropdown-toggle(id = "loginDropdown", data-toggle = "dropdown", aria-expanded = "true") Login &nbsp;
            //.caret        
          //ul.dropdown-menu(role="menu", aria-labelledby="loginDropdown")
            //li(role="presentation")            
              //a(href="/login", role="menuitem", tabindex = "-1") with ResidentExperiences 
                //i.fa.fa-user
            //li(role="presentation")
              //a(href="/auth/facebook", role="menuitem", tabindex = "-1") with Facebook &nbsp;
                //i.fa.fa-facebook    
            //li(role="presentation")           
              //a(href="/auth/google", role="menuitem", tabindex = "-1") with Google+ &nbsp;
                //i.fa.fa-google-plus                       
        a.btn.btn-default(onclick = "showLoginDialogue()") Login &nbsp;
          i.fa.fa-sign-in
  br
  br
  br
  br
  br
  br
  .navbar.navbar-default(role='navigation')    
    .container
      .navbar-header
        button.navbar-toggle(data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          .sr-only Toggle navigation
          .icon-bar &nbsp;
          .icon-bar &nbsp;
          .icon-bar &nbsp;
          .icon-bar &nbsp;
        a.navbar-brand(href="/") ResidentExperiences
        //a.brand(href='/')= 'residentexperiences'
      .navbar-collapse.collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav         
          li
            a(href="/", title="Home") Home
              i.fa.fa-home
          li
            a(href="/userExperience/new", title="New User Experience") Share experiences
              i.fa.fa-quote-left &nbsp;
              i.fa.fa-quote-right  
          li
            a(href="/userExperience/search", title="User Experiences") Search experiences
              i.fa.fa-binoculars
          if req.isAuthenticated() 
            li
              a(href="/userExperience/myExperiences", title="User Experiences") My Experiences  
                i.fa.fa-file-text-o                
        //ul.nav.pull-right            
          //if req.isAuthenticated()            
            //li
              //
          //else
            //li                
              //a(href="/login", title="Log In") Log in

  .modal.fade(id = "loginModalDialog")
    .modal-dialog
      .modal-content
        .modal-header
          .close(type="button", data-dismiss = "modal", aria-hidden = "true") &times;
          h4.modal-title Login
        .modal-body(style = "background: #fff url('http://local.pricewombat.com/assets/images/grey_dot.png') center top repeat-y; margin: 25px 0; overflow: auto; padding: 0;")
          div(style = "float : left; width : 50%; height : 100%")
            div(style = "padding: 8px;") Login faster with facebook or google+
            div(style = "width: 190px; margin: 0 auto; font-size: 13px;")
              div(style = "margin-top: 12px;")
                a.btn.btn-facebook(href = "/auth/facebook")
                  i.fa.fa-facebook &nbsp; Login with facebook                  
              div(style = "margin-top: 25px;")
                a.btn.btn-google-plus(href = "/auth/google") 
                  i.fa.fa-google-plus &nbsp; Login with google+
          div(style = "width : 50%; float : right;")
            div(style = "width : 220px; margin : 0 auto;")
              - var action = '/login'
              if message && message.length 
                .alert.alert-error                                   
                  strong #{message}
              form(role="form", action=action, name="loginForm", method="post", style = "cursor : default;" )
                fieldset
                  .form-group
                    input.form-control(placeholder='Email', name='email', type='text', autofocus='')
                  .form-group
                    input.form-control(placeholder='Password', name='password', type='password', value='')              
                .form-actions
                  button.btn.btn-default.btn-medium(type="submit") Login
                  &nbsp;&nbsp;&nbsp;
                  a.cancel(href="/") Cancel 
                  br
                  br              
                  //a.btn.btn-success(href="/signup") New User? Signup
                  a.btn.btn-success(data-target = "#signupModalDialog", data-toggle = "modal") New User? Signup

  .modal.fade.in(id = "signupModalDialog", tabindex = "-1", role = "dialog", aria-hidden = "true")
    .modal-dialog(style = "width : 20%;")
      .modal-content
        .modal-header
          .close(type="button", data-dismiss = "modal", aria-hidden = "true") &times;
          h4.modal-title Join us to start sharing your experiences!
        .modal-body(style = "position : relative; padding : 15px;")
          - var action = '/signup'
          if message && message.length                                    
            .alert.alert-error
              strong #{message}
          form(role="form", action=action, name="signupForm", method="post" )
            //div(style = "padding: 8px;") Login faster with facebook or google+
              //div(style = "width: 190px; margin: 0 auto; font-size: 13px;")
                //div(style = "margin-top: 12px;")
                  //a.btn.btn-facebook(href = "/auth/facebook")
                    //i.fa.fa-facebook &nbsp; Login with facebook                  
                //div(style = "margin-top: 25px;")
                  //a.btn.btn-google-plus(href = "/auth/google") 
                    //i.fa.fa-google-plus &nbsp; Login with google+
            //br
            //div(style = "font-weight : bold; text-align : center;") OR
            //br
            fieldset
              .form-group
                input.form-control(placeholder='Username', name='username', type='text', autofocus='')
              .form-group
                input.form-control(placeholder='Email', name='email', type='email')
              .form-group
                input.form-control(placeholder='Password', name='password', type='password', value='')              
            .form-actions
              button.btn.btn-primary.btn-medium(type="submit") Signup               
