header#header
	body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
		nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
						i.fa.fa-bars					
					a.navbar-brand.page-scroll(href='#page-top')
						i.fa.fa-play-circle						
						span.light Resident
						|  Experiences			
				.collapse.navbar-collapse.navbar-right.navbar-main-collapse
					ul.nav.navbar-nav					
						li.hidden
							a(href='#page-top')					
						li
							if(req.originalUrl === '/')
								a.page-scroll(href='#about') About
							else
								a(href="/") Home				
						li
							if(req.originalUrl === '/')
								a.page-scroll(href='#Share') Share
							else
								a(href="/userExperience/new", title="New User Experience") Share				
						li
							if(req.originalUrl === '/')
								a.page-scroll(href='#Search') Search
							else
								a(href="/userExperience/search", title="User Experiences") Search
						li
							.login-holder
								if req.isAuthenticated()
									.welcomebox
										.dropdown
											.btn.btn-default.dropdown-toggle(id = "loginDropdown", data-toggle = "dropdown", aria-expanded = "true")
												if req.user.twitter.username != null
													Welcome #{req.user.twitter.username} &nbsp;
												else if req.user.facebook.username != null
													Welcome #{req.user.facebook.username} &nbsp;
												else if req.user.google.username != null
													Welcome #{req.user.google.username} &nbsp;
												else
													Welcome #{req.user.local.username} &nbsp;
												.caret
											ul.dropdown-menu(role="menu", aria-labelledby="loginDropdown")
												li(role="presentation")
													a(href="/userExperience/myExperiences", title="User Experiences", role="menuitem", tabindex = "-1") My Experiences &nbsp;
														i.fa.fa-comments
												li(role="presentation")
													a(href="/user/profile/" + req.user._id, role="menuitem", tabindex = "-1") Edit Profile &nbsp;
														i.fa.fa-user
												li(role="presentation")
													a(href="/user/profile/photo/" + req.user._id, role="menuitem", tabindex = "-1") Edit Photo &nbsp;
														i.fa.fa-file-image-o
												li(role="presentation")
													a(href="/messages", role="menuitem", tabindex = "-1") Inbox &nbsp;
														i.fa.fa-inbox
												li(role="presentation")
													a(href="/logout", role="menuitem", tabindex = "-1") Logout &nbsp;
														i.fa.fa-sign-out
								else
									a.btn.btn-default(onclick = "showLoginDialogue()") Login &nbsp;
										i.fa.fa-sign-in
	.modal.fade(id = "loginModalDialog")
		.modal-dialog
			.modal-content
				.modal-header
					.close(type="button", data-dismiss = "modal", aria-hidden = "true") &times;
					h4.modal-title( style = "color:#000") Login
				.modal-body(style = "background: #fff url('http://local.pricewombat.com/assets/images/grey_dot.png') center top repeat-y; margin: 25px 0; overflow: auto; padding: 0;")
					div(style = "float : left; width : 50%; height : 100%")
						div(style = "padding: 8px;") Login faster with facebook or google+
						div(style = "width: 190px; margin: 0 auto; font-size: 13px;")
							div(style = "margin-top: 12px;")
								a.btn.btn-facebook(href = "/auth/facebook")
									i.fa.fa-facebook &nbsp; Login with facebook
								//a.btn.btn-facebook(onclick="loginAjaxCall('/auth/facebook')")
									//i.fa.fa-facebook &nbsp; Login with facebook
							div(style = "margin-top: 25px;")
								a.btn.btn-google-plus(href = "/auth/google")
									i.fa.fa-google-plus &nbsp; Login with google+
								//a.btn.btn-google-plus(onclick="loginAjaxCall('/auth/google')")
									//i.fa.fa-google-plus &nbsp; Login with google+
					div(style = "width : 50%; float : right;")
						div(style = "width : 220px; margin : 0 auto;")
							//- var action = '/login'				
							.alert.alert-error(id="divLoginErrorMessage", style = "color:#B41A1A")										
							form(role="form", name="loginForm", style = "cursor : default;" )
								fieldset
									.form-group
										input.form-control(placeholder='Email', name='email', id="loginemail", type='email', autofocus='', required)
									.form-group
										input.form-control(placeholder='Password', name='password', id="loginpassword", type='password', value='', required)		
										br						
										a.btn.btn-default.btn-medium(onclick="loginAjaxCall()") Login
										&nbsp;&nbsp;&nbsp;
										//a.cancel(href="/") Cancel 
										br
										br
										a.btn.btn-success(data-target = "#signupModalDialog", data-toggle = "modal") New User? Signup						
	.modal.fade.in(id = "signupModalDialog", tabindex = "-1", role = "dialog", aria-hidden = "true")
		.modal-dialog(style = "width : 20%;")
			.modal-content
				.modal-header
					.close(type="button", data-dismiss = "modal", aria-hidden = "true") &times;
					h4.modal-title( style = "color:#000") Join us to start sharing your experiences!
				.modal-body(style = "position : relative; padding : 15px;")
					//- var action = '/signup'
					.alert.alert-error(id="divSignupErrorMessage", style = "color:#B41A1A")
					form(role="form", name="signupForm")
						fieldset
							.form-group
								input.form-control(placeholder='Username', name='username', id="signupusername", type='text', autofocus='', required)
							.form-group
								input.form-control(placeholder='Email', name='email', id="signupemail", type='email', required)
							.form-group
								input.form-control(placeholder='Password', name='password', id="signuppassword", type='password', value='', required)              
							.form-actions
								a.btn.btn-primary.btn-medium(onclick="signUpAjaxCall()") Signup
script(src="/javascripts/global.js")							
