.modal-header
  .close(type="button", data-dismiss = "modal", aria-hidden = "true") &times;
  h4.modal-title Compose Message
  - var action = '/messages/compose'
.modal-body
  form.form-horizontal(role="form", action=action, method="POST", name="composeMessageForm", id="composeMessageForm")
    .form-group
      label.col-xs-2(for="recipientUsername") To
      .col-xs-10
        input.form-control(type="text", id="recipientUsername", name="recipientUsername", value ="#{recipientUsername}", disabled) 
        input(type="hidden", id="recipientEmail", name="recipientEmail", value ="#{recipientEmail}" ) 
        input(type="hidden", id="hdnRecipientUsername", name="hdnRecipientUsername", value ="#{recipientUsername}" ) 
        input(type="hidden", id="recipientId", name="recipientId", value ="#{recipientId}" ) 
    .form-group
      label.col-xs-2(for="inputSubject") Subject
      .col-xs-10
        input.form-control(type="text", id="inputSubject",name="inputSubject" placeholder="Subject")
    .form-group
      label.col-xs-12(for="inputContent") Content
      .col-xs-12
        textarea.form-control(id="inputContent",name="inputContent", rows="12")
    .modal-footer
      .form-actions
        button.btn.btn-default.pull-left(data-dismiss="modal") Cancel
        button.btn.btn-warning.pull-left(type = "submit", id = "btnSaveDraft") Save as draft
        button.btn.btn-primary(type="submit", id="btnSendMessage") Send 
          i.fa.fa-arrow-circle-right.fa-lg
script(src="/javascripts/global.js") 
  
