extends ../layouts/layout

block main
	//h2 Messages
		//&nbsp;
		//i.fa.fa-inbox
block content
	body#page-top(data-target='.navbar-fixed-top')
	.pageBody
		.pageBody-body
			section#ViewExperience.container.pageBody-content-section
				.row
					.col-xs-2(style= "padding:16px")
						h2 Messages
							&nbsp;
							i.fa.fa-inbox			
					.col-xs-10
						.pull-left
							.navigation.well-sm#refresh
								ul.pager
									li
										a.btn.btn-default.btn-lg(data-toggle="tooltip", title="Refresh", id="refreshInbox", href="#{req.originalUrl}")
											span.fa.fa-refresh.fa-medium																		
						.pull-right(id="paginationIcons")
							span.text-muted
							if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
								.navigation.well-sm#pagination
									ul.pager
										if paginate.hasPreviousPages
											li.previous
												a.btn.btn-default.btn-lg(href=paginate.href(true)).prev
													i.fa.fa-arrow-circle-left
													|  Previous
										if paginate.hasNextPages(pageCount)
											li.next
												a.btn.btn-default.btn-lg(href=paginate.href()).next
													| Next&nbsp;
													i.fa.fa-arrow-circle-right
				.row
					.col-xs-2.pad-right-0
						.sidebar-nav(style="width: 80%")
							.navbar.navbar-default(role="navigation")
								.navbar-header
									button.navbar-toggle(type="button",data-toggle="collapse", data-target=".sidebar-navbar-collapse")
										span.sr-only
											Toggle navigation
										span.icon-bar
										span.icon-bar
										span.icon-bar
									span.visible-xs.navbar-brand
								.navbar-collapse.collapse.sidebar-navbar-collapse
									ul.nav.navbar-nav								
										li
											a(href="/messages") 									
												-if(req.originalUrl === "/messages")													
													div 
														Strong Inbox
														-if(itemCount !== 0)																			
															span.label.label-warning.label-as-badge.pull-right #{JSON.stringify(itemCount)}
												-else
													div Inbox
										li
											a(href="/messages/sent", id="hrefSent")
												-if(req.originalUrl === "/messages/sent")													
													div 
														Strong Sent
												-else
													div Sent											
										li
											a(href="/messages/saved", id="hrefDrafts")
												-if(req.originalUrl === "/messages/saved")													
													div 
														Strong Drafts
														-if(itemCount !== 0)
															span.label.label-warning.label-as-badge.pull-right #{JSON.stringify(itemCount)}		
												-else
													div Drafts
					.col-xs-10
						//.row
							//.col-xs-12
								//.pull-left
									//.navigation.well-sm#refresh
										//ul.pager
											//li
												//a.btn.btn-default.btn-lg(data-toggle="tooltip", title="Refresh", id="refreshInbox", href="#{req.originalUrl}")
													//span.fa.fa-refresh.fa-medium																		
								//pull-right(id="paginationIcons")
									//span.text-muted
									//if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
										//.navigation.well-sm#pagination
											//ul.pager
												//if paginate.hasPreviousPages
													//li.previous
														//a.btn.btn-default.btn-lg(href=paginate.href(true)).prev
															//i.fa.fa-arrow-circle-left
															|  Previous
												//if paginate.hasNextPages(pageCount)
													//li.next
														//a.btn.btn-default.btn-lg(href=paginate.href()).next
															| Next&nbsp;
														//	i.fa.fa-arrow-circle-right
									//.btn-group.btn-group
										//button.btn.btn-default.btn-lg
											//span.glyphicon.glyphicon-chevron-left
										//button.btn.btn-default.btn-lg
											//span.glyphicon.glyphicon-chevron-right
						.col-xs-12.spacer5
						.panel.panel-default.inbox(id="inboxPanel")
							.table-responsive(id="tblDisplayMessages")
								table.table.table-hover.refresh-container.pull-down
									thead.hidden-xs
										tr
											td.col-sm-1
												//input(type="checkbox", title="Mark All")
												&nbsp;										
											td.col-sm-3
												a(href=paginate.href({ sort: 'dateModified' })) Date
											td.col-sm-1
												&nbsp;
											td.col-sm-2										
												a(href=paginate.href({ sort: 'senderUsername' })) From											
											td.col-sm-4
												a(href=paginate.href({ sort: 'subject' })) Subject
											td.col-sm-1
												&nbsp;
									tbody
										- each val in inboxMessages		
											- var messageJSON = JSON.stringify(val)
											//-var messageDisplayStyle = reflectReadStatus(messageJSON)
											//- each message in val.messages										
												//-if(message.readStatus === "Unread")																						
													//tr(style="background-color : #FFFFFF;")
														//td.col-sm-1.col-xs-4 
															//#{unreadMessagePresent}
														//td.col-sm-3.col-xs-4(onclick="loadSelectedMessage(#{messageJSON});") #{moment(val.dateModified).format("YYYY-MM-DD HH:mm")}
														//td.col-sm-1.col-xs-4(onclick="loadSelectedMessage(#{messageJSON});")
															//&nbsp;
														//td.col-sm-2.col-xs-4(onclick="loadSelectedMessage(#{messageJSON});") #{val.senderUsername}
														//td.col-sm-4.col-xs-6(onclick="loadSelectedMessage(#{messageJSON});") #{val.subject}
														//td.col-sm-1.col-sm-2(onclick="loadSelectedMessage(#{messageJSON});")
															//&nbsp;
													//-break;										
											tr.messagesRow(style="background-color : #D3D3D3;" data-messagejson = "#{messageJSON}")
												td.col-sm-1.col-xs-4 
												//#{unreadMessagePresent}
												td.col-sm-3.col-xs-4(onclick="loadSelectedMessage(#{messageJSON});") #{moment(val.dateModified).format("YYYY-MM-DD HH:mm")}
												td.col-sm-1.col-xs-4(onclick="loadSelectedMessage(#{messageJSON});")
													&nbsp;
												td.col-sm-2.col-xs-4(onclick="loadSelectedMessage(#{messageJSON});") #{val.senderUsername}
												td.col-sm-4.col-xs-6(onclick="loadSelectedMessage(#{messageJSON});") #{val.subject}
												td.col-sm-1.col-sm-2(onclick="loadSelectedMessage(#{messageJSON});")
													&nbsp;
							.container-fluid(id="divDisplayMessage")
								.box
									.row
										.col-xs-12
											-if(req.originalUrl === "/messages")
												h3(title="subject")
													a(href="#{req.originalUrl}") Inbox 
													&gt;
													span(id="messageSubject")
													//button.close.pull-right(type="button", data-dismiss = "modal", aria-hidden = "true", onclick="displayAllMessages();") &times;								
											-else if(req.originalUrl === '/messages/sent')
												h3(title="subject")
													a(href="#{req.originalUrl}") Sent
													&gt;
													span(id="messageSubject")
													//button.close.pull-right(type="button", data-dismiss = "modal", aria-hidden = "true", onclick="displayAllMessages();") &times								
											-else
												h3(title="subject")
													a(href="#{req.originalUrl}") Drafts
													&gt;
													span(id="messageSubject")
													//button.close.pull-right(type="button", data-dismiss = "modal", aria-hidden = "true", onclick="displayAllMessages();") &times;

											//- each message in inboxMessages.messages
											div(id="divIndMessages")
											//.panel.panel-info
												//.panel-heading										
													//strong(id="messageSenderDetails")						
													//div
														//span.pull-right.clickable
															//i.glyphicon.glyphicon-chevron-up
												//.panel-body
													//.col-xs-12
														//div(id="messageBody")
													//.col-xs-12
														//.btn-group.btn-group-small.pull-right
															//button.btn.btn-primary.btn-small(title="Reply to this message", data-toggle="tooltip")
																//i.fa.fa-reply.fa-small &nbsp; Reply
															//button.btn.btn-primary.dropdown-toggle.btn-small(title="More Options", data-toggle="dropdown")
																//i.fa.fa-angle-down.fa-small
															//ul.dropdown-menu.pull-right
																//li
																	//a(href="#") 
																		//i.fa.fa-reply &nbsp; Reply
																//li
																	//a(href="#") 
																		//i.fa.fa-ban &nbsp; This is spam
																//li
																	//a(href="#") 
																		//i.fa.fa-trash-o &nbsp; Delete message
														//.spacer5.pull-right
															//button.btn.btn-small.btn-primary.pull-right(title="Delete this message", data-toggle="tooltip")
																//i.fa.fa-trash-o
											br					
											div(id="divReply")									
											br
script(src="/javascripts/global.js")
include paginate




