extends ../layouts/layout

block main
 h2= title

block content 
  .container
    .modal-header
      .close(type="button", data-dismiss = "modal", aria-hidden = "true") &times;
      h4.modal-title Login
    .modal-body(style = "background: #fff url('http://local.pricewombat.com/assets/images/grey_dot.png') center top repeat-y; margin: 25px 0; overflow: auto; padding: 0;")
      div(style = "float : left; width : 50%; height : 100%")
        div(style = "padding: 8px;") Login faster with facebook or google+
        div(style = "width: 190px; margin: 0 auto; font-size: 13px;")
          div(style = "margin-top: 12px;")
            a.btn.btn-facebook(href = "/auth/facebook")
              i.fa.fa-facebook &nbsp; Login with facebook                  
          div(style = "margin-top: 25px;")
            a.btn.btn-google-plus(href = "/auth/google") 
              i.fa.fa-google-plus &nbsp; Login with google+
      div(style = "width : 50%; float : right;")
        div(style = "width : 220px; margin : 0 auto;")
          - var action = '/login'
          if message && message.length 
            .alert.alert-error                                   
              strong #{message}
          form(role="form", action=action, name="loginForm", method="post", style = "cursor : default;" )
            fieldset
              .form-group
                input.form-control(placeholder='Email', name='email', type='text', autofocus='')
              .form-group
                input.form-control(placeholder='Password', name='password', type='password', value='')              
            .form-actions
              button.btn.btn-default.btn-medium(type="submit") Login
              &nbsp;&nbsp;&nbsp;
              a.cancel(href="/") Cancel 
              br
              br              
              //a.btn.btn-success(href="/signup") New User? Signup
              a.btn.btn-success(data-target = "#signupModalDialog", data-toggle = "modal") New User? Signup