extends ../layouts/layout

block main
	h2 Messages
		&nbsp;
		i.fa.fa-inbox
block content
	.container
		.row
			.col-xs-2
				.sidebar-nav
					.navbar.navbar-default(role="navigation")
						.navbar-header
							button.navbar-toggle(type="button",data-toggle="collapse", data-target=".sidebar-navbar-collapse")
								span.sr-only
									Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							span.visible-xs.navbar-brand
						.navbar-collapse.collapse.sidebar-navbar-collapse
							ul.nav.navbar-nav								
								li
									a(href="#") Inbox
								li
									a(href="#") Sent
								li
									a(href="#") Drafts
								li
									a(href="#") Compose			
			.col-xs-10
				.row
					.col-xs-12
						a.btn.btn-default.btn-lg(data-toggle="tooltip", title="Refresh", id="refreshInbox", href="javascript:;")
							span.fa.fa-refresh.fa-medium
						button.btn.btn-default.btn-lg(data-toggle="tooltip", title="Compose", id="refreshInbox", data-target="#modalCompose")
							span.fa.fa-edit.fa-medium
						.pull-right
							span.text-muted
							.btn-group.btn-group
								button.btn.btn-default.btn-lg
									span.glyphicon.glyphicon-chevron-left
								button.btn.btn-default.btn-lg
									span.glyphicon.glyphicon-chevron-right
					.col-xs-12.spacer5
				.panel.panel-default.inbox(id="inboxPanel")
					.table-responsive
						table.table.table-striped.table-hover.refresh-container.pull-down
							thead.hidden-xs
								tr
									td.col-sm-1
										input(type="checkbox", title="Mark All")
									td.col-sm-3
										a(href="javascript:;") Date
									td.col-sm-1
										&nbsp;
									td.col-sm-2										
										a(href="javascript:;") From												
									td.col-sm-4
										a(href="javascript:;") Subject
									td.col-sm-1
										&nbsp;
							tbody
								td.col-sm-1.col-xs-4
									input(type="checkbox", title="Mark this item here")
								td.col-sm-3.col-xs-4
									&nbsp;
								td.col-sm-1.col-xs-4
									&nbsp;
								td.col-sm-2.col-xs-4									
									&nbsp;
								td.col-sm-4.col-xs-6
									&nbsp;
								td.col-sm-1.col-sm-2
									&nbsp;


