extends ../layouts/layout
block content  
  - var action = '/user/profile/' + req.user._id  
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= 'Edit Profile'
              &nbsp;
              i.fa.fa-pencil-square
          br
          br  
          br
          br 
          .box
            .col-lg-12             
              form.form-vertical(method="post", action=action, name="editProfileForm", role ="form")             
                .panel.panel-info
                  .panel-heading             
                    h3.panel-title Account Details
                    span.pull-right.clickable
                      i.glyphicon.glyphicon-chevron-up
                    .panel-body 
                      input(type="hidden", id="action", name="_method", value ="#{action}" )
                      input(type="hidden", id="hdnGender", name="hdnGender", value="#{result.gender}")
                      if req.user.twitter.username != null                    
                        .form-group      
                          label.control-label.col-xs-6(for="username") Username: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="username", name="username", value ="#{result.twitter.username}", disabled)
                        br
                        br
                        .form-group      
                          label.control-label.col-xs-6(for="email") Email: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="email", name="email", value ="#{result.twitter.email}", disabled)
                        br
                        br
                        .form-group      
                          label.control-label.col-xs-6(for="displayname") displayname: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="displayname", name="displayname", value ="#{result.twitter.displayname}", disabled)

                      else if req.user.facebook.username != null
                        .form-group      
                          label.control-label.col-xs-6(for="username") Username: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="username", name="username", value ="#{result.facebook.username}", disabled)
                        br
                        br
                        .form-group      
                          label.control-label.col-xs-6(for="email") Email: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="email", name="email", value ="#{result.facebook.email}", disabled)
                      
                      else if req.user.google.username != null
                        .form-group      
                          label.control-label.col-xs-6(for="username") Username: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="username", name="username", value ="#{result.google.username}", disabled)
                        br
                        br
                        .form-group      
                          label.control-label.col-xs-6(for="email") Email: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="email", name="email", value ="#{result.google.email}", disabled)                  
                      else
                        .form-group      
                          label.control-label.col-xs-6(for="username") Username: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="text", id="username", name="username", value ="#{result.local.username}", required)
                        br
                        br
                        .form-group      
                          label.control-label.col-xs-6(for="email") Email: &nbsp; 
                          .col-xs-6          
                            input.form-control(type="email", id="email", name="email", value ="#{result.local.email}", required)
                .panel.panel-info
                  .panel-heading             
                    h3.panel-title Personal Details
                    span.pull-right.clickable
                      i.glyphicon.glyphicon-chevron-up
                    .panel-body                                     
                      .form-group      
                        label.control-label.col-xs-6(for="firstname") First Name: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="firstname", name="firstname", value ="#{result.firstname}")
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="lastname") Last Name: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="lastname", name="lastname", value ="#{result.lastname}")
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="age") Age: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="age", name="age", value ="#{result.age}")
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="gender") Gender: &nbsp; 
                        .col-xs-6          
                          select.form-control(id="gender" name="gender")
                            option(value="not specified") --Select--
                            option(value="male") Male
                            option(value="female") Female                        
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="occupation") Occupation: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="occupation", name="occupation", value ="#{result.occupation}")
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="locality") Address - Locality: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="locality", name="locality", value ="#{result.locality}")
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="city") Current City: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="city", name="city", value ="#{result.city}")
                      br
                      br
                      .form-group      
                        label.control-label.col-xs-6(for="country") Country: &nbsp; 
                        .col-xs-6          
                          input.form-control(type="text", id="country", name="country", value ="#{result.country}")                                                          
                .form-actions
                  button.btn.btn-default.btn-medium(type="submit") Save
                  &nbsp;&nbsp;&nbsp;
                  a.cancel(href="/user/profile/"  + result._id) Cancel
 

script(src="/javascripts/global.js")
