extends ../layouts/layout

block main

block content
  - var action = '/login'
  .container(style='margin-top: 30px;')    
    .col-md-8
      .login-panel.panel.panel-default
        .panel-heading
          h3.panel-title Log In 
            i.fa.fa-user
          if message && message.length 
            .alert.alert-error                                   
              strong #{message}
        .panel-body
          div(style = "float : left; width : 50%; height : 100%")
            div
              div(style = "padding: 8px;") Login faster with facebook or google+
              div(style = "width: 190px; margin: 0 auto; font-size: 13px;")
                div(style = "margin-top: 12px;")
                  a.btn.btn-facebook(href = "/auth/facebook")
                    i.fa.fa-facebook &nbsp; Login with facebook                  
                div(style = "margin-top: 25px;")
                  a.btn.btn-google-plus(href = "/auth/google") 
                    i.fa.fa-google-plus &nbsp; Login with google+
            div(style = "border-right:medium #CC0000 solid; height:20px;")
          div(style = "width : 50%; float : right;")
            div(style = "width : 220px; margin : 0 auto;")
              - var action = '/login'
              if message && message.length 
                .alert.alert-error                                   
                  strong #{message}
              form(role="form", action=action, name="loginForm", method="post", style = "cursor : default;" )
                fieldset
                  .form-group
                    input.form-control(placeholder='Email', name='email', type='text', autofocus='')
                  .form-group
                    input.form-control(placeholder='Password', name='password', type='password', value='')              
                .form-actions
                  button.btn.btn-default.btn-medium(type="submit") Login
                  &nbsp;&nbsp;&nbsp;
                  a.cancel(href="/") Cancel           
