extends ../layouts/layout

block main

block content
  - var action = '/signup'
  .container(style='margin-top: 30px;')    
    .col-md-4
      .login-panel.panel.panel-default
        .panel-heading
          h3.panel-title Join us to start sharing your experiences!                    
          if message && methodssage.length                                    
            .alert.alert-error
              strong #{message}
        .panel-body
          form(role="form", action=action, name="signupForm", method="post" )
            fieldset
              .form-group
                input.form-control(placeholder='Username', name='username', type='text', autofocus='')
              .form-group
                input.form-control(placeholder='Email Id', name='email', type='email')
              .form-group
                input.form-control(placeholder='Password', name='password', type='password', value='')              
            .form-actions
              button.btn.btn-primary.btn-medium(type="submit") Signup
              &nbsp;&nbsp;&nbsp;
              a.cancel(href="/") Cancel                                   
