extends ../layouts/layout
block content  
  - var action = '/user/profile/photo/' + req.user._id  
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= 'Upload/Change Profile Photo'
              &nbsp;
              i.fa.fa-file-photo-o
          br
          br  
          br
          br 
          .box
            .col-lg-12  
              form.form-vertical(method="post", action=action, name="uploadPhotoForm", role ="form", enctype="multipart/form-data")            
                .col-xs-6(id="cropSection", style="display:none")
                  img(src="", id="thumbnail", alt="Create Thumbnail")
                  div(id="thumb_preview_holder")
                    img(src="", alt="Thumbnail Preview", id="thumb_preview")
                  div
                    input(type="hidden", name="filename", value="", id="filename")
                    input(type="hidden", name="x1", value="", id="x1")
                    input(type="hidden", name="y1", value="", id="y1")
                    input(type="hidden", name="x2", value="", id="x2")
                    input(type="hidden", name="y2", value="", id="y2")
                    input(type="hidden", name="w", value="", id="w")
                    input(type="hidden", name="h", value="", id="h")
                    input(type="submit", class="btn btn-primary button", name="upload_thumbnail", value="Save Thumbnail", id="save_thumb")
                br
                .form-group
                  label.control-label.col-xs-6(for="imageUpload") Upload a profile photo: &nbsp;
                  .col-xs-6
                    div(style="position:relative;")                                                                          
                      a.btn.btn-default(href="javascript:;") Choose file..
                      input(type="file", style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;', size="40",  onchange='loadPreview(this);', id="imageUpload", accept="image/*", name="imageUpload")
                      &nbsp;
                      br
                      br              
                      input(type="hidden", id="newImagePath", name="newImagePath")    
                      img(src="/uploads/img_" + req.user._id + ".jpg", id="thumbnail", alt="Create Thumbnail", height="50%", width="50%")                  
                      //img(src="#", id="previewpane", alt="Create Thumbnail", height="50%", width="50%")
                      //span.label.label-info(id="upload-file-info")
                      br
                      br
                      //a.btn.btn-warning#crop Crop
                      //&nbsp;&nbsp;                  
                      //button.btn.btn-info#preview Preview
                      //&nbsp;&nbsp;
                      button.btn.btn-success#upload Upload
                //.form-group
                  //label.control-label.col-xs-6(for="upload") Upload a profile photo:
                  //.col-xs-6(id="uploader-section")
                    //.product_image
                      //img.thumbnails(src="")
                      //div(id="file-uploader")
                        //button.btn.btn-success(id="upload")
                          //span.glyphicon.glyphicon-plus                    
                            //span.upload
                              //&nbsp;Change profile picture
script(src="/javascripts/global.js")