extends ../layouts/layout
block content  
  .container
    .row
      .box
        .col-lg-12
          hr
          h2.intro-text.text-center ABOUT RESIDENTEXPERIENCES
          hr
          p The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.                     
