extends ../layouts/layout
block content
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')  
    -if(req.session.loadLogin === 'true') 
      input(type="hidden", id="notLoggedIn", name="notLoggedIn", value="#{req.session.loadLogin}")   
    // Navigation
    //nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      //.container
        //.navbar-header
          //button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            //i.fa.fa-bars
          //|                 
          //a.navbar-brand.page-scroll(href='#page-top')
            //i.fa.fa-play-circle
            //|   
            //span.light Start
            //|  Bootstrap
        // Collect the nav links, forms, and other content for toggling
        //.collapse.navbar-collapse.navbar-right.navbar-main-collapse
          //ul.nav.navbar-nav
            // Hidden li included to remove active class from about link when scrolled up past about section
            //li.hidden
              //a(href='#page-top')
            //|                     
            //li
              //a.page-scroll(href='#about') About
            //|                     
            //li
              //a.page-scroll(href='#Share') Share
            //|                     
            //li
              //a.page-scroll(href='#Search') Search                              
    // Intro Header
    header.intro
      .intro-body
        .container        
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading ResidentExperiences
              |                         
              p.intro-text
                | Share and look for relevant stay experiences. Make your move to the new place more confidently.
              |                         
              a.btn.btn-circle.page-scroll(href='#about')
                i.fa.fa-angle-double-down.animated
    // About Section
    br 
    br
    .homePageSection
      section#about.container.content-section.text-center
        .col-xs-6     
          .row                      
            &nbsp;     
            img.img-responsive.center-block(src="../images/Locality.jpg", id="thumbnail", alt="Create Thumbnail") 
            br
            br   
            //.row
              //.col-lg-8.col-lg-offset-2
                //&nbsp;           
        .col-xs-6                   
          .row
            .col-lg-8.col-lg-offset-2
              .headingHomeSections About ResidentExperiences
              |                                         
              p
                | ResidentExperiences is the place to find out about people's stay experiences in a property and view property ratings. If you are looking to move into a new place in a specific locality, you can search for relevant stay experiences to know more about the property condition, in compound amenities and various facilities including transport connectivity, entertainment venues etc in and around the locality. To enquire further, the property reviewer can also be emailed through us.                              
              |                 
              p        
                | Here you can also share your previous stay experiences. Based on your input about the property and location of the property, our rating algorithm will generate a rating for the property. 
    br
    br    
    .homePageSection
      section#Share.container.content-section.text-center 
        .col-xs-6     
          .row                      
            &nbsp;     
            img.img-responsive.center-block(src="../images/Share-Experience.jpg", id="thumbnail", alt="Create Thumbnail") 
            br
            br   
            //.row
              //.col-lg-8.col-lg-offset-2
                //&nbsp;           
        .col-xs-6                   
          .row
            .col-lg-8.col-lg-offset-2
              .headingHomeSections Share Experiences
              |                 
              p Share your stay experience at a property and we will rate the property based on your review.                                                  
              a.btn.btn-default.btn-lg(href='/userExperience/new') Start Sharing
              br
              br             
    br
    br  
    .homePageSection 
      section#Search.container.content-section.text-center
        .col-xs-6     
          .row                      
            &nbsp;     
            img.img-responsive.center-block(src="../images/Magnifying-glass.jpg", id="thumbnail", alt="Create Thumbnail") 
            br
            br   
            //.row
              //.col-lg-8.col-lg-offset-2
                //&nbsp;           
        .col-xs-6                   
          .row
            .col-lg-8.col-lg-offset-2
              .headingHomeSections Search Experiences
              |                 
              p
                | Planning to move into a specific locality? Checkout our property ratings based on your target locality! 
              |                 
              p Find out about similar stay experiences and make your move more confidently! Contact the property reviewers to get more information!                      
              a.btn.btn-default.btn-lg(href='/userExperience/search') Start Searching
              br
              br
    br
    br                   
