extends ../layouts/layout
block content
	body#page-top(data-target='.navbar-fixed-top')
	.pageBody
		.pageBody-body
			section#ViewExperience.container.pageBody-content-section
				.row
					.col-md-8
						h2= title
							&nbsp;
							i.fa.fa-pencil
					br
					br
					br
					br
					.box
						.col-lg-12
							p
								.privacyPolicyHeading Introduction
								.privacyPolicyText Privacy issues are a major priority for ResidentExperiences. Please read the privacy policy in full to understand our handling of private information.
							p

								.privacyPolicyHeading Policy Coverage
								.privacyPolicyText This policy covers ResidentExperiences treatment of personally identifiable information that ResidentExperiences collects when you are on the ResidentExperiences site, and when you use ResidentExperiences' services. 
							p

								.privacyPolicyHeading Personal information collected by ResidentExperiences
								.privacyPolicyText ResidentExperiences collects information on a property in the form of feedback from the past and current residents (tenants/owners). Besides feedback, contact details (email) of your landlord, you and certain general information is collected.
								All the personal information collected (except email) is optional.
							p

								.privacyPolicyHeading What ResidentExperiences does with the personal information?
								.privacyPolicyText ResidentExperiences assigns a rating to each property. Such rating is computed by ResidentExperiences’ proprietary rating engine. The exact mechanism and method of computing the ratings will not be shared. The ratings are based only on the feedback given by users.
							p
								.privacyPolicyHeading Sharing of personal information collected by ResidentExperiences
								.privacyPolicyText ResidentExperiences does not share any personal information collected from users with any third party. Sharing of personal information is limited to sharing of contact information (email) so that users can communicate with each other and the publishing of ratings of properties. In such published documents, information is limited to name, locality, city and rating.
