extends ../layouts/layout
block content
	body#page-top(data-target='.navbar-fixed-top')
	.pageBody
		.pageBody-body
			section#ViewExperience.container.pageBody-content-section
				.row
					.col-md-8
						h2= title
							&nbsp;
							i.fa.fa-pencil
					br
					br
					br
					br
					.box
						.col-lg-12
							p
								.privacyPolicyHeading Binding Agreement
								ol.privacyPolicyText 
									li 
										This ResidentExperiences Website is provided to you for your use subject to these Terms. These Terms form a binding agreement between you and ResidentExperiences.com. By accessing or using the ResidentExperiences.com Website you agree to accept and/or to be bound by these Terms. You agree to use the ResidentExperiences.com Website at your own risk.
									li
										In the case of any conflict between these Terms and any contract you have with ResidentExperiences.com, these Terms will take precedent.
									li 
										We may update these Terms from time to time for legal or regulatory reasons or to allow the proper operation of the ResidentExperiences.com Website. Any changes will be notified by a suitable notice displayed prominently on the Home page of ResidentExperiences.com. The changes will apply to the use of the ResidentExperiences.com website after such notice. If you do not wish to accept the new Terms you should not continue to use the ResidentExperiences.com Website. If you continue to use the ResidentExperiences.com Website after the date on which the change comes into effect, your use of the ResidentExperiences.com Website indicates your agreement to be bound by the new Terms.

							.privacyPolicyHeading Definitions
							ol.privacyPolicyText 
								li 
									"ResidentExperiences.com" means the website with the internet address www.ResidentExperiences.com and the company operating the ResidentExperiences.com Website 
								li
									"ResidentExperiences.com Content" includes all Text, Graphics, Design, Programming, information, images, video, audio files, software and other contents used on the ResidentExperiences.com Website.
								li 
									"ResidentExperiences.com Services" means any services provided by ResidentExperiences.com including the rating of tenants and properties based on feedback from landlords and tenants respectively.
								li
									"Text" includes all text on every page of the ResidentExperiences.com Website, whether editorial, navigational, or instructional.
								li
									"User" refers to any individual or entity that uses any aspect of the ResidentExperiences.com Website and/or ResidentExperiences.com Services.
								li
									"User Content" means all information, data, text, software, music, sound, photographs, graphics, video, advertisements, messages or other materials submitted, posted or displayed by Users on or through ResidentExperiences.com Website.
								li
									"You" or "you" means the person who (or the entity on behalf of whom you are acting) that is agreeing to these Terms.

							.privacyPolicyHeading Intellectual Property
							ol.privacyPolicyText 
								li 
									The ResidentExperiences.com website all rights, title and interest in and to ResidentExperiences.com Website are the exclusive property of ResidentExperiences.com or its licensors.
								li
									You may retrieve and display ResidentExperiences.com content on a computer screen, store such content in electronic form on disk (but not any server or other storage device connected to a network) or print one copy of such content for your own personal, non-commercial use. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials of ResidentExperiences.com without written permission from ResidentExperiences.com.

							.privacyPolicyHeading Availability of the ResidentExperiences.com Website
							ol.privacyPolicyText 
								li 
									Although we aim to offer you the best service possible, we make no promise that the services at the ResidentExperiences.com Website will meet your requirements.
								li
									We cannot guarantee that the ResidentExperiences.com Website will be fault-free, error-free, or that ResidentExperiences.com Website and servers are free of viruses or other harmful mechanisms. 
								li
									Your access to the ResidentExperiences.com Website may be occasionally restricted to allow for repairs, maintenance or the introduction of new content, facilities or services. We will attempt to restore access and/or service as soon as we reasonably can.

							.privacyPolicyHeading Your use of the ResidentExperiences.com Website
							ol.privacyPolicyText 
								li 
									ResidentExperiences.com hereby grants you a limited, terminable, non-exclusive right to access and use ResidentExperiences.com Website only for your personal use.
								li
									You may not use the ResidentExperiences.com Website for any of the following purposes:-
										ul											
											li
												&nbsp; aggregating, copying or duplicating in any manner any of the ResidentExperiences.com Content;
											li
												&nbsp; reproducing any of the ResidentExperiences.com Content for general use;
											li
												&nbsp; interfering with any other person's use or enjoyment of the ResidentExperiences.com Website.

							.privacyPolicyHeading Your use of the ResidentExperiences.com Services
							ol.privacyPolicyText 
								All Users agree to not:
								li
									&nbsp; transmit, post, distribute, store or destroy material, including without limitation ResidentExperiences.com Content, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of personal information, or in breach of ResidentExperiences.com's Privacy Policy;
								li
									&nbsp; violate or attempt to violate the security of any ResidentExperiences.com Website;
								li
									&nbsp; reverse engineer or decompile any parts of any ResidentExperiences.com Website;
								li
									&nbsp; post any content or material that facilitates, promotes or endorses scams, false or misleading information or illegal activities, OR endorses or provides instructional information about illegal activities or other activities prohibited by these Terms;
								li
									&nbsp; access data not intended for you or logging into a server or account which you are not authorized to access;
								li
									&nbsp; post or submit to ResidentExperiences.com Website any inaccurate, incomplete, misleading, false, not up to date information or information which is not your own;
								li
									&nbsp; harass, incite harassment or advocate harassment of any group, company or individual;
								li
									&nbsp; send unsolicited email, make unsolicited phone calls or send unsolicited faxes promoting and/or advertising products or services to any User.

							.privacyPolicyHeading User Content and submissions
							ol.privacyPolicyText
								li
									&nbsp; You understand that all User Content is the sole responsibility of the person from which such User Content originated.
								li
									&nbsp; You understand and acknowledge that all information provided by you shall be stored in ResidentExperiences.com Databases
								li
									&nbsp; You understand, acknowledge and consent that all information provided by you may be transferred to countries outside of your location for the purposes of storing and/or processing. 
								li
									&nbsp; By submitting User Content on or through ResidentExperiences.com Website, you grant ResidentExperiences.com, subject to your privacy setting, a worldwide, non-exclusive, royalty-free license to reproduce, adapt, distribute and publish such User Content through ResidentExperiences.com Website.
								li
									&nbsp; ResidentExperiences.com Website reserves the right to refuse to accept, post, display or transmit any User Content in its sole discretion.
								li
									&nbsp; ResidentExperiences.com Website may review and remove any User Content that, in its sole judgment, violates these Terms, violates applicable laws, rules or regulations, is abusive, disruptive, offensive or illegal, or violates the rights of, or harms or threatens the safety of ResidentExperiences.com Website. 
								li
									&nbsp; ResidentExperiences.com Website reserves the right to expel Users and prevent their further access to the ResidentExperiences.com Website and/or use of ResidentExperiences.com Services for violating the Terms or applicable laws, rules or regulations.
								li
									&nbsp; ResidentExperiences.com Website may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for ResidentExperiences.com, damage ResidentExperiences.com's brand or public image, or cause ResidentExperiences.com to lose Users.
								li
									&nbsp; ResidentExperiences.com Website does not represent or guarantee the truthfulness, accuracy, or reliability of User Content, derivative works from User Content, or any other communications posted by Users nor does ResidentExperiences.com endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at your own risk.

							.privacyPolicyHeading Terms and Termination
							ol.privacyPolicyText
								li
									&nbsp; These Terms will remain in full force and effect while you are a user of ResidentExperiences.com Website.
								li
									&nbsp; Even after you are no longer a User of the ResidentExperiences.com Website, certain provisions of these Terms will remain in effect.

							.privacyPolicyHeading ResidentExperiences.com Website's liability
							ol.privacyPolicyText
								li
									&nbsp; ResidentExperiences.com does not screen or censor the feedback. ResidentExperiences.com is not involved in the actual transaction between tenants and landlords. As a result, ResidentExperiences.com is not responsible for User Content, the quality, safety or legality of the feedback and ratings posted, the truth or accuracy of the feedback and ratings, the ability of landlords to offer accommodation to tenants or the ability of tenants to meet the expectations of the landlords.
								li
									&nbsp; Note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, underage persons or people acting under false pretences. You assume all risks associated with dealing with other users with whom you come in contact through the ResidentExperiences.com Website. We expect that you will use caution and common sense when using the ResidentExperiences.com Website.
								li
									&nbsp; ResidentExperiences.com Website may contain inaccuracies or typographical errors. ResidentExperiences.com makes no representations about the accuracy, reliability, completeness, or timeliness of ResidentExperiences.com Website.
								li
									&nbsp; The use of ResidentExperiences.com Website is at your own risk.
								li
									&nbsp; Nothing on ResidentExperiences.com Website shall be considered an endorsement, representation or warranty with respect to any User or third party.
								li
									&nbsp; The aggregate liability by ResidentExperiences.com Website to you for all claims arising from your use of ResidentExperiences.com Website shall be nil.

							.privacyPolicyHeading Indemnity
							ol.privacyPolicyText
								li
									&nbsp; You agree to defend, indemnify, and hold harmless ResidentExperiences.com, and its owners, from and against any claims, actions or demands

							.privacyPolicyHeading Applicable Law
							ol.privacyPolicyText
								li
									&nbsp; These Terms will be subject to the laws of India.

							.privacyPolicyHeading International Use
							ol.privacyPolicyText
								li
									&nbsp; We make no promise that materials on the ResidentExperiences.com Website are appropriate or available for use in your location, and accessing the ResidentExperiences.com Website from territories where its contents are illegal or unlawful is prohibited. If you choose to access this ResidentExperiences.com Website from your location, you do so on your own initiative and are responsible for compliance with local laws.

							.privacyPolicyHeading Miscellaneous
							ol.privacyPolicyText
								li
									&nbsp; You may not transfer any of your rights under these Terms to any other person. 
								li
									&nbsp; If you breach these Terms and ResidentExperiences.com chooses to ignore this, ResidentExperiences.com will still be entitled to use its rights and remedies at a later date or in any other situation where you breach the Terms.
								li
									&nbsp; ResidentExperiences.com Website shall not be responsible for any breach of these Terms caused by circumstances beyond its reasonable control.
								li
									&nbsp; If any of these Terms shall be found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, the invalidity or unenforceability of such provision shall not affect the other provisions of these Terms and all provision not affected by such invalidity or unenforceability shall remain in full force and effect. 
