extends ../layouts/layout
block content 
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= 'View Experience Details'
              &nbsp;
              i.fa.fa-eye
          br
          br  
          br
          br 
          .box
            .col-lg-12    
              table.table.table-hover(id="dispUserExpTable")                    
                tbody      
                  tr                                                                                            
                    td Property Address : Locality
                    td #{result.locality}                    
                  tr
                    td Property Address : City
                    td #{result.city}
                  tr
                    td Property type
                    input(type="hidden", id="hdntype" value="#{result.type}")
                    td(id="tdType")
                  tr
                    td Floor          
                    td #{result.floor}
                  tr
                    td Lift Service
                    input(type="hidden", id="hdnLiftService" value="#{result.liftService}")
                    td(id="tdLiftService")          
                  tr
                    td Property Condition
                    input(type="hidden", id="hdnPropertyCondition" value="#{result.propertyCondition}")
                    td(id="tdPropertyCondition")                 
                  tr
                    td Car parking facility
                    input(type="hidden", id="hdnCarPark" value="#{result.carPark}")
                    td(id="tdCarPark")           
                  tr
                    td For my daily/weekly shopping needs, to reach shops/stores, it is a
                    input(type="hidden", id="hdnStoresNearby" value="#{result.storesNearby}")
                    td(id="tdStoresNearby")          
                  tr
                    td Number of entertainment venues I know (malls, cinemas, cafes...etc) within 10 minutes by walk/drive
                    input(type="hidden", id="hdnEntertainmentVenues" value="#{result.entertainmentVenues}")
                    td(id="tdEntertainmentVenues")          
                  tr
                    td Public Transport connectivity
                    input(type="hidden", id="hdnTransportConnectivity" value="#{result.transportConnectivity}")
                    td(id="tdTransportConnectivity")           
                  tr
                    td Water supply
                    input(type="hidden", id="hdnWaterSupply" value="#{result.waterSupply}")
                    td(id="tdWaterSupply")           
                  tr
                    td Power supply
                    input(type="hidden", id="hdnPowerSupply" value="#{result.powerSupply}")
                    td(id="tdPowerSupply")          
                  tr
                    td Quality and placement of taps, drains and pipes
                    input(type="hidden", id="hdnDrainPipesQuality" value="#{result.drainPipesQuality}")
                    td(id="tdDrainPipesQuality")           
                  tr
                    td Quality and placement of electric plugpoints, switchboards and wires
                    input(type="hidden", id="hdnElectricPlugsSwitchesCondition" value="#{result.electricPlugsSwitchesCondition}")
                    td(id="tdElectricPlugsSwitchesCondition")           
                  tr
                    td Amenities within the compound/within 10 minutes by walk
                    //-var withinCompoundAmenities = ""
                    //if (result.withinCompoundAmenities.indexOf("1") >  -1)
                      //-var withinCompoundAmenities = withinCompoundAmenities + 'Swimming pool'        
                    //if (result.withinCompoundAmenities.indexOf("2") >  -1)  
                      //if (withinCompoundAmenities != "")
                        //-var withinCompoundAmenities = withinCompoundAmenities + ', Gym'
                      //else
                        //-var withinCompoundAmenities = withinCompoundAmenities + 'Gym'
                    //if (result.withinCompoundAmenities.indexOf("3") >  -1)  
                      //if (withinCompoundAmenities != "")
                        //-var withinCompoundAmenities = withinCompoundAmenities + ', Play area'
                      //else
                        //-var withinCompoundAmenities = withinCompoundAmenities + 'Play area'
                    //if (result.withinCompoundAmenities.indexOf("4") >  -1)  
                      //if (withinCompoundAmenities != "")
                        //-var withinCompoundAmenities = withinCompoundAmenities + ', Park'
                      //else
                        //-var withinCompoundAmenities = withinCompoundAmenities + 'Park'
                    input(type="hidden", id="hdnWithinCompoundAmenities" value="#{result.withinCompoundAmenities}")
                    td(id="tdWithinCompoundAmenities")      
                  tr
                    td Intensity of traffic in the locality
                    input(type="hidden", id="hdnTrafficCongestion" value="#{result.trafficCongestion}")
                    td(id="tdTrafficCongestion")
                  tr
                    td After moving in, I discovered defects which needed repair work
                    input(type="hidden", id="hdnDefectsDetected" value="#{result.defectsDetected}")
                    td(id="tdDefectsDetected")          
                  tr
                    td Overall Satisfaction Rating (in %)
                    td #{result.rating}
                  tr
                    td Comments
                    td #{result.comments}   
                  
              -var loggedinUserId = JSON.stringify(req.user._id)
              -var experienceUserId = JSON.stringify(result.userid)          
              -if(loggedinUserId === experienceUserId)
                a.btn.btn-default.btn-medium(href="/userExperience/edit/" + result._id) Edit Experience
                &nbsp;&nbsp;&nbsp;
              -else
                a.btn.btn-info(data-toggle="modal", href="/messages/compose/" + result.userid, data-target="#createModalDialogDiv") Send a message
                &nbsp;&nbsp;&nbsp;
              a.btn(href="javascript: history.go(-1);") Back
              .modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", id="createModalDialogDiv")
                .modal-dialog
                  .modal-content
  script(src="/javascripts/global.js") 