extends ../layouts/layout
block content  
  - var action = '/userExperience/edit/' + result._id  
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2 Edit Experience
              &nbsp;
              i.fa.fa-pencil-square
          br
          br  
          br
          br 
          .box
            .col-lg-12     
              input(type="hidden", id="experienceId", name="experienceId", value = "#{result._id}") 
              form.form-vertical(method="post", action=action, name="editUserExpForm", role ="form")     
                input(type="hidden", id="_method", name="_method", value ="#{action}" )           
                .form-group      
                  label.control-label.col-xs-6(for="locality") Property address - Locality: &nbsp; 
                  .col-xs-6          
                    input.form-control(type="text", id="locality", name="locality", value ="#{result.locality}" , required)
                br
                br
                br
                .form-group
                  label.control-label.col-xs-6(for="city") Property address - City: &nbsp;
                  .col-xs-6
                    input.form-control(type="text", id="city", name="city", value ="#{result.city}" , required)
                br
                br
                .form-group 
                  label.control-label.col-xs-6(for="type") Property type: &nbsp;
                  .col-xs-6
                    select.form-control(id="type" name="type")
                      option(value="0") --Select--
                      option(value="1") Residential: 1RK
                      option(value="2") Residential: 1BHK
                      option(value="3") Residential: 2BHK
                      option(value="4") Residential: 3BHK & Above
                      option(value="5") Commercial: Office Space
                      option(value="6") Commercial: Retail Establishment
                      option(value="7") Other
                br
                br
                .form-group
                  label.control-label.col-xs-6(for="floor") Floor (enter number; Eg: 0 for ground, 5 for fifth floor)          
                  .col-xs-6
                    input.form-control(type="number", id="floor", name="floor", value ="#{result.floor}" , required, min=0)
                br
                br
                .form-group 
                  label.control-label.col-xs-6(for="lift") Lift service
                  .col-xs-6
                    select.form-control(id="lift" name="lift")
                      option(value="0") --Select--
                      option(value="1") Yes, fast/reliable
                      option(value="2") Yes, slow/unreliable
                      option(value="3") No
                br 
                br     
                .form-group 
                  label.control-label.col-xs-6(for="propcond") Property Condition
                  .col-xs-6
                    select.form-control(id="propcond" name="propcond")
                      option(value="0") --Select--
                      option(value="1") New & furnished
                      option(value="2") New & unfurnished
                      option(value="3") Renovated & furnished
                      option(value="4") Renovated & unfurnished
                      option(value="5") Old & furnished
                      option(value="6") Old & unfurnished
                br
                br
                .form-group 
                  label.control-label.col-xs-6(for="carpark") Car parking facility
                  .col-xs-6
                    select.form-control(id="carpark" name="carpark")
                      option(value="0") --Select--
                      option(value="1") Reserved
                      option(value="2") First come, first served within compound
                      option(value="3") Can usually find space outside compound
                      option(value="4") Rarely get space anywhere            
                br
                br
                .form-group 
                  label.control-label.col-xs-6(for="stores") For my daily/weekly shopping needs, to reach shops/stores, it is a         
                  .col-xs-6
                    select.form-control(id="stores" name="stores")
                      option(value="0") --Select--
                      option(value="1") Short walk (< 10 minutes)
                      option(value="2") Long walk (> 10 minutes)
                      option(value="3") Short drive (< 10 minutes)
                      option(value="4") Long drive (> 10 minutes)            
                br
                br
                .form-group 
                  label.control-label.col-xs-6(for="entertain") Number of entertainment venues I know (malls, cinemas, cafes...etc) within 10 minutes by walk/drive         
                  .col-xs-6
                    select.form-control(id="entertain" name="entertain")
                      option(value="0") --Select--
                      option(value="1") Many
                      option(value="2") A few
                      option(value="3") None                      
                br  
                br   
                .form-group 
                  label.control-label.col-xs-6(for="transport") Public Transport connectivity         
                  .col-xs-6
                    select.form-control(id="transport" name="transport")
                      option(value="0") --Select--
                      option(value="1") Bus/MRT/Tram station is within 10 minutes by walk
                      option(value="2") Bus/MRT/Tram station is within a 10 minute drive
                      option(value="3") Cannot rely on public transport (Taxi or self driving)                     
                br 
                br
                .form-group       
                  label.control-label.col-xs-6(for="watersupp") Water supply        
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="watersupp", id="watersupp", value="1" checked=result.waterSupply=="1")
                      |  24 hours
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="watersupp", id="watersupp", value="2" checked=result.waterSupply=="2")
                      |  Most of the day 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="watersupp", id="watersupp", value="3" checked=result.waterSupply=="3")
                      |  Limited hours                 
                br 
                br
                .form-group       
                  label.control-label.col-xs-6(for="powersupp") Power supply        
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="powersupp", id="powersupp", value="1" checked=result.powerSupply=="1")
                      |  No power cuts
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="powersupp", id="powersupp", value="2" checked=result.powerSupply=="2")
                      |  Occasional power cuts 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="powersupp", id="powersupp", value="3" checked=result.powerSupply=="3")
                      |  Frequent power cuts                 
                br 
                br
                .form-group       
                  label.control-label.col-xs-6 Quality and placement of taps, drains and pipes
                  .col-xs-1
                    label.radio-inline
                      input(type="radio", name="drainqual", id="drainqual", value="1", checked=result.drainPipesQuality=="1")
                      |  Excellent
                      br
                  .col-xs-1
                    label.radio-inline
                      input(type="radio", name="drainqual", id="drainqual", value="2" checked=result.drainPipesQuality=="2")
                      |  Good 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="drainqual", id="drainqual", value="3" checked=result.drainPipesQuality=="3")
                      |  Satisfactory 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="drainqual", id="drainqual", value="4" checked=result.drainPipesQuality=="4")
                      |  Can be better               
                br
                br
                .form-group       
                  label.control-label.col-xs-6 Quality and placement of electric plugpoints, switchboards and wires
                  .col-xs-1
                    label.radio-inline
                      input(type="radio", name="eleccond", id="eleccond", value="1" checked=result.electricPlugsSwitchesCondition=="1" )
                      |  Excellent
                      br
                  .col-xs-1
                    label.radio-inline
                      input(type="radio", name="eleccond", id="eleccond", value="2" checked=result.electricPlugsSwitchesCondition=="2")
                      |  Good 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="eleccond", id="eleccond", value="3" checked=result.electricPlugsSwitchesCondition=="3")
                      |  Satisfactory 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="eleccond", id="eleccond", value="4" checked=result.electricPlugsSwitchesCondition=="4")
                      |  Can be better  
                br 
                .form-group
                  label.control-label.col-lg-6(for="incompamen") Amenities within the compound/within 10 minutes by walk 
                  .col-xs-2      
                    .checkbox  
                      label.inline                                  
                      input(type="checkbox", name="incompamen", id="incompamen", value="1" checked = (result.withinCompoundAmenities.indexOf("1") > -1 ? "checked" : undefined))
                      | &nbsp;&nbsp; Swimming pool
                      br              
                  .col-xs-1
                    .checkbox
                      label.inline                                
                      input(type="checkbox", name="incompamen", id="incompamen", value="2" checked = (result.withinCompoundAmenities.indexOf("2") > -1 ? "checked" : undefined))
                      | &nbsp;&nbsp; Gym
                      br
                  .col-xs-2
                    .checkbox
                      label.inline
                      input(type="checkbox", name="incompamen", id="incompamen", value="3" checked = (result.withinCompoundAmenities.indexOf("3") > -1 ? "checked" : undefined))
                      | &nbsp;&nbsp; Play area
                      br
                  .col-xs-1
                    .checkbox
                      label.inline
                      input(type="checkbox", name="incompamen", id="incompamen", value="4" checked = (result.withinCompoundAmenities.indexOf("4") > -1 ? "checked" : undefined))
                      | &nbsp;&nbsp; Park
                      br  
                br
                br                  
                .form-group       
                  label.control-label.col-xs-6 Intensity of traffic in the locality
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="traffic", id="traffic", value="1", checked=true)
                      |  Low
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="traffic", id="traffic", value="2")
                      |  Moderate 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="traffic", id="traffic", value="3")
                      |  High  
                br 
                br
                .form-group       
                  label.control-label.col-xs-6 After moving in, I discovered defects which needed repair work &nbsp;                  
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="defects", id="defects", value="1", checked=true)
                      |  No
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="defects", id="defects", value="2")
                      |  Yes, minor/expected 
                      br
                  .col-xs-2
                    label.radio-inline
                      input(type="radio", name="defects", id="defects", value="3")
                      |  Yes, major  
                br
                br
                //.form-group      
                  //label.control-label.col-xs-6(for="rating") Overall Satisfaction Rating (on a scale of 10) &nbsp;
                  //.col-xs-6          
                    //input.form-control(type="text", id="rating", name="rating", value="#{result.rating}", required)
                //br
                //br
                input.form-control(type="hidden", id="rating", name="rating")
                .form-group      
                  label.control-label.col-xs-6(for="comments") Comments &nbsp;
                  .col-xs-6          
                    textarea.form-control(id="comments", name="comments", required) #{result.comments}      
                br 
                br
                .btn-grp
                  a.dropdown-toggle(type="button", data-toggle="dropdown")

                .form-actions
                  button.btn.btn-default.btn-medium(type="submit", onclick = "calculateRating()") Save
                  &nbsp;&nbsp;&nbsp;
                  a.cancel(href="/userExperience/edit/"  + result._id) Cancel

  script(src="/javascripts/global.js")      
