extends ../layouts/layout

block main
 h2= title

block content
  - var action = '/userExperience/'

  form.form-horizontal(method="post", action=action, name="form")
    
    input(type="hidden", name="_method", value="PUT")
    .form-group
      label.control-label.col-xs-3(for="locality") Property address: Locality
      .col-xs-9
        input(type="text", id="locality", name="locality", required)
    br
    .row
      .span6
        .control-group
          label.control-label(for="locality") Property address: Locality
          .controls
            input(type="text", id="locality", name="locality", required)

        .control-group
          label.control-label(for="city") Property address: City
          .controls
            input(type="text", id="city", name="city", required)

        .form-group 
          label.control-label(for="type") Property type
          .controls
            select.form-control(id="type" name="type")
              option(value="0") --Select--
              option(value="1") Residential: 1RK
              option(value="2") Residential: 1BHK
              option(value="3") Residential: 2BHK
              option(value="4") Residential: 3BHK & Above
              option(value="5") Commercial: Office Space
              option(value="6") Commercial: Retail Establishment
              option(value="7") Other
        br
        .control-group
          label.control-label(for="floor") Floor (enter number; Eg: 0 for ground, 5 for fifth floor)
          br
          .controls
            input(type="text", id="floor", name="floor", required)

        .form-group 
          label.control-label(for="lift") Lift service
          .controls
            select.form-control(id="lift" name="lift")
              option(value="0") --Select--
              option(value="1") Yes, fast/reliable
              option(value="2") Yes, slow/unreliable
              option(value="3") No
        br      
        .form-group 
          label.control-label(for="propcond") Property Condition
          .controls
            select.form-control(id="propcond" name="propcond")
              option(value="0") --Select--
              option(value="1") New & furnished
              option(value="2") New & unfurnished
              option(value="3") Renovated & furnished
              option(value="4") Renovated & unfurnished
              option(value="5") Old & furnished
              option(value="6") Old & unfurnished
        br
        .form-group 
          label.control-label(for="carpark") Car parking facility
          .controls
            select.form-control(id="carpark" name="carpark")
              option(value="0") --Select--
              option(value="1") Reserved
              option(value="2") First come, first served within compound
              option(value="3") Can usually find space outside compound
              option(value="4") Rarely get space anywhere            
        br
        .form-group 
          label.control-label(for="stores") For my daily/weekly shopping needs, to reach shops/stores, it is a 
          br
          .controls
            select.form-control(id="stores" name="stores")
              option(value="0") --Select--
              option(value="1") Short walk (< 10 minutes)
              option(value="2") Long walk (> 10 minutes)
              option(value="3") Short drive (< 10 minutes)
              option(value="4") Long drive (> 10 minutes)            
        br
        .form-group 
          label.control-label(for="entertain") Number of entertainment venues I know (malls, cinemas, cafes...etc) within 10 minutes by walk/drive 
          br
          .controls
            select.form-control(id="entertain" name="entertain")
              option(value="0") --Select--
              option(value="1") Many
              option(value="2") A few
              option(value="3") None                      
        br
        br
        br
        .form-group 
          label.control-label(for="transport") Public Transport connectivity 
          br
          .controls
            select.form-control(id="transport" name="transport")
              option(value="0") --Select--
              option(value="1") Bus/MRT/Tram station is within 10 minutes by walk
              option(value="2") Bus/MRT/Tram station is within a 10 minute drive
              option(value="3") Cannot rely on public transport (Taxi or self driving)                     
        br 
        .form-group       
          label.control-label(for="watersupp") Water supply
          .btn-group.btn-group-vertical(data-toggle="buttons", name="watersupp", id="watersupp")
            .span3
              label.radio.inline
                input(type="radio", name="1", value="1", checked=true)
                |  24 hours
                br
                input(type="radio", name="2", value="2")
                |  Most of the day 
                br
                input(type="radio", name="3", value="3")
                |  Limited hours                 
        br 
        .form-group       
          label.control-label(for="powersupp") Power supply
          .btn-group.btn-group-vertical(data-toggle="buttons", name="powersupp", id="powersupp")
            .span3
              label.radio.inline
                input(type="radio", name="1", value="1", checked=true)
                |  No power cuts
                br
                input(type="radio", name="2", value="2")
                |  Occasional power cuts 
                br
                input(type="radio", name="3", value="3")
                |  Frequent power cuts                 
        br 
        .form-group       
          label.control-label.col-xs-3 Quality and placement of taps, drains and pipes
          .col-xs-2
            label.radio-inline
              input(type="radio", name="1", value="1", checked=true)
              |  Excellent
              br
            .col-xs-2
              label.radio-inline
                input(type="radio", name="2", value="2")
                |  Good 
                br
            .col-xs-2
              label.radio-inline
                input(type="radio", name="3", value="3")
                |  Satisfactory 
                br
            .col-xs-2
              label.radio-inline
                input(type="radio", name="4", value="4")
                |  Can be better               
        br 
        .form-group       
          label.control-label.col-xs-3 Quality and placement of electric plugpoints, switchboards and wires
          .col-xs-2
            label.radio-inline
              input(type="radio", name="eleccond", value="1", checked=true)
              |  Excellent
              br
            .col-xs-2
              label.radio-inline
                input(type="radio", name="eleccond", value="2")
                |  Good 
                br
            .col-xs-2
              label.radio-inline
                input(type="radio", name="eleccond", value="3")
                |  Satisfactory 
                br
            .col-xs-2
              label.radio-inline
                input(type="radio", name="eleccond", value="4")
                |  Can be better  
        br 
        .control-group
          label.control-label
            | Amenities within the compound/within 10 minutes by walk
          .controls        
            label.inline.checkbox
            input(type="checkbox", name="incompamen", value="1")
            | &nbsp;&nbsp; Swimming pool
            br
            label.inline.checkbox
            input(type="checkbox", name="incompamen", value="2")
            | &nbsp;&nbsp; Gym
            br
            label.inline.checkbox
            input(type="checkbox", name="incompamen", value="3")
            | &nbsp;&nbsp; Play area
            br
            label.inline.checkbox
            input(type="checkbox", name="incompamen", value="4")
            | &nbsp;&nbsp; Park
            br             
            label.inline.checkbox
            input(type="checkbox", name="incompamen", value="5")
            | &nbsp;&nbsp; None        
        .form-group       
          label.control-label.col-xs-6 Intensity of traffic in the locality
          .col-xs-2
            label.radio-inline
              input(type="radio", name="traffic", id="traffic", value="1", checked=true)
              |  Low
              br
          .col-xs-2
            label.radio-inline
              input(type="radio", name="traffic", id="traffic", value="2")
              |  Moderate 
              br
          .col-xs-2
            label.radio-inline
              input(type="radio", name="traffic", id="traffic", value="3")
              |  High  
        br 
        .form-group       
          label.control-label.col-xs-3 After moving in, I discovered defects which needed repair work &nbsp;                  
          .col-xs-1
            label.radio-inline
              input(type="radio", name="defects", id="defects", value="1", checked=true)
              |  No
              br
          .col-xs-1
            label.radio-inline
              input(type="radio", name="defects", id="defects", value="2")
              |  Yes, minor/expected 
              br
          .col-xs-1
            label.radio-inline
              input(type="radio", name="defects", id="defects", value="3")
              |  Yes, major  
                     
        br
        .btn-grp
          a.dropdown-toggle(type="button", data-toggle="dropdown")

    .form-actions
      button.btn.btn-primary.btn-large(type="submit") Save
      &nbsp;&nbsp;&nbsp;
      a.cancel(href="/userExperience") Cancel
