extends ../layouts/layout
block content
  -var action = '/userExperience/' + req.user._id  
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= title
              &nbsp;
              i.fa.fa-pencil
          br
          br  
          br
          br 
          .box
            .col-lg-12 
              form.form-vertical(method="post", action=action, name="form", role ="form") 
                -if(req.session.loadLogin === 'true') 
                  input(type="hidden", id="notLoggedIn", name="notLoggedIn", value="#{req.session.loadLogin}")    
                .row          
                  .form-group      
                    label.control-label.col-lg-6(for="locality") Property address - Locality: &nbsp;
                    .col-lg-6
                      input.form-control(type="text", id="locality", name="locality", placeholder="Eg: Bandra", required)
                  br
                  br
                  .form-group
                    label.control-label.col-lg-6(for="city") Property address - City: &nbsp;
                    .col-lg-6
                      input.form-control(type="text", id="City", name="city", placeholder="Eg: Mumbai", required)
                  br
                  br
                  .form-group 
                    label.control-label.col-lg-6(for="type") Property type: &nbsp;
                    .col-lg-6
                      select.form-control(id="type" name="type")
                        option(value="0") --Select--
                        option(value="1") Residential: 1RK
                        option(value="2") Residential: 1BHK
                        option(value="3") Residential: 2BHK
                        option(value="4") Residential: 3BHK & Above
                        option(value="5") Commercial: Office Space
                        option(value="6") Commercial: Retail Establishment
                        option(value="7") Other
                  br
                  br
                  .form-group
                    label.control-label.col-lg-6(for="floor") Floor (enter number; Eg: 0 for ground, 5 for fifth floor)          
                    .col-lg-6
                      input.form-control(type="number", id="floor", name="floor", min=0, required)
                  br
                  br
                  .form-group 
                    label.control-label.col-lg-6(for="lift") Lift service
                    .col-lg-6
                      select.form-control(id="lift" name="lift")
                        option(value="0") --Select--
                        option(value="1") Yes, fast/reliable
                        option(value="2") Yes, slow/unreliable
                        option(value="3") No
                  br    
                  br  
                  .form-group 
                    label.control-label.col-lg-6(for="propcond") Property Condition
                    .col-lg-6
                      select.form-control(id="propcond" name="propcond")
                        option(value="0") --Select--
                        option(value="1") New & furnished
                        option(value="2") New & unfurnished
                        option(value="3") Renovated & furnished
                        option(value="4") Renovated & unfurnished
                        option(value="5") Old & furnished
                        option(value="6") Old & unfurnished
                  br
                  br
                  .form-group 
                    label.control-label.col-lg-6(for="carpark") Car parking facility
                    .col-lg-6
                      select.form-control(id="carpark" name="carpark")
                        option(value="0") --Select--
                        option(value="1") Reserved
                        option(value="2") First come, first served within compound
                        option(value="3") Can usually find space outside compound
                        option(value="4") Rarely get space anywhere            
                  br
                  br
                  .form-group 
                    label.control-label.col-lg-6(for="stores") For my daily/weekly shopping needs, to reach shops/stores, it is a         
                    .col-lg-6
                      select.form-control(id="stores" name="stores")
                        option(value="0") --Select--
                        option(value="1") Short walk (< 10 minutes)
                        option(value="2") Long walk (> 10 minutes)
                        option(value="3") Short drive (< 10 minutes)
                        option(value="4") Long drive (> 10 minutes)            
                  br
                  br
                  .form-group 
                    label.control-label.col-lg-6(for="entertain") Number of entertainment venues I know (malls, cinemas, cafes...etc) within 10 minutes by walk/drive         
                    .col-lg-6
                      select.form-control(id="entertain" name="entertain")
                        option(value="0") --Select--
                        option(value="1") Many
                        option(value="2") A few
                        option(value="3") None   
                  br                   
                  br     
                  .form-group 
                    label.control-label.col-lg-6(for="transport") Public Transport connectivity         
                    .col-lg-6
                      select.form-control(id="transport" name="transport")
                        option(value="0") --Select--
                        option(value="1") Bus/MRT/Tram station is within 10 minutes by walk
                        option(value="2") Bus/MRT/Tram station is within a 10 minute drive
                        option(value="3") Cannot rely on public transport (Taxi or self driving)                     
                  br 
                  br
                  .form-group       
                    label.control-label.col-lg-6(for="watersupp") Water supply        
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="watersupp", id="watersupp", value="1", checked)
                        |  24 hours
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="watersupp", id="watersupp", value="2")
                        |  Most of the day 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="watersupp", id="watersupp", value="3")
                        |  Limited hours                 
                  br 
                  br
                  .form-group       
                    label.control-label.col-lg-6(for="powersupp") Power supply        
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="powersupp", id="powersupp", value="1", checked)
                        |  No power cuts
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="powersupp", id="powersupp", value="2")
                        |  Occasional power cuts 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="powersupp", id="powersupp", value="3")
                        |  Frequent power cuts                 
                  br
                  br 
                  .form-group       
                    label.control-label.col-lg-6(for="drainqual") Quality and placement of taps, drains and pipes
                    .col-lg-1
                      label.radio-inline
                        input(type="radio", name="drainqual", id="drainqual", value="1", checked)
                        |  Excellent
                        br
                    .col-lg-1
                      label.radio-inline
                        input(type="radio", name="drainqual", id="drainqual", value="2")
                        |  Good 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="drainqual", id="drainqual", value="3")
                        |  Satisfactory 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="drainqual", id="drainqual", value="4")
                        |  Can be better               
                  br 
                  br
                  .form-group       
                    label.control-label.col-lg-6(for="eleccond") Quality and placement of electric plugpoints, switchboards and wires
                    .col-lg-1
                      label.radio-inline
                        input(type="radio", name="eleccond", id="eleccond", value="1", checked)
                        |  Excellent
                        br
                    .col-lg-1
                      label.radio-inline
                        input(type="radio", name="eleccond", id="eleccond", value="2")
                        |  Good 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="eleccond", id="eleccond", value="3")
                        |  Satisfactory 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="eleccond", id="eleccond", value="4")
                        |  Can be better  
                  br
                  br 
                  .form-group
                    label.control-label.col-lg-6(for="incompamen") Amenities within the compound/within 10 minutes by walk
                    .col-lg-2     
                      .checkbox  
                        label.inline
                        input(type="checkbox", name="incompamen", id="incompamen", value="1")
                        | &nbsp;&nbsp; Swimming pool
                        br
                    .col-lg-1
                      .checkbox
                        label.inline
                        input(type="checkbox", name="incompamen", id="incompamen", value="2")
                        | &nbsp;&nbsp; Gym
                        br
                    .col-lg-2
                      .checkbox
                        label.inline
                        input(type="checkbox", name="incompamen", id="incompamen", value="3")
                        | &nbsp;&nbsp; Play area
                        br
                    .col-lg-1
                      .checkbox
                        label.inline
                        input(type="checkbox", name="incompamen", id="incompamen", value="4")
                        | &nbsp;&nbsp; Park
                        br                
                  br
                  br       
                  .form-group       
                    label.control-label.col-lg-6 Intensity of traffic in the locality
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="traffic", id="traffic", value="1", checked=true)
                        |  Low
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="traffic", id="traffic", value="2")
                        |  Moderate 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="traffic", id="traffic", value="3")
                        |  High  
                  br 
                  br
                  .form-group       
                    label.control-label.col-lg-6 After moving in, I discovered defects which needed repair work
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="defects", id="defects", value="1", checked=true)
                        |  No
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="defects", id="defects", value="2")
                        |  Yes, minor/expected 
                        br
                    .col-lg-2
                      label.radio-inline
                        input(type="radio", name="defects", id="defects", value="3")
                        |  Yes, major  
                  br
                  br
                  //.form-group      
                    //label.control-label.col-lg-6(for="rating") Overall Satisfaction Rating (on a scale of 10) &nbsp;
                    //.col-lg-6          
                      //input.form-control(type="text", id="rating", name="rating",placeholder="Eg: 8", required)
                  //br
                  //br

                  input.form-control(type="hidden", id="rating", name="rating")

                  .form-group      
                    label.control-label.col-lg-6(for="comments") Comments &nbsp;
                    .col-lg-6          
                      textarea.form-control(id="comments", name="comments", required)      
                  br
                  br
                  .btn-grp
                    a.dropdown-toggle(type="button", data-toggle="dropdown")

                  .form-actions
                    button.btn.btn-default.btn-medium(type="submit", onclick = "calculateRating()") Save
                    &nbsp;&nbsp;&nbsp;
                    a.cancel(href="/") Cancel
