extends ../layouts/layout
block content 
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= 'View Experience Details'
              &nbsp;
              i.fa.fa-eye
          br
          br  
          br
          br 
          .box
            .col-lg-12 
              #experienceList
                table.table.table-hover
                  thead:tr
                    th Locality
                    th City
                    th Type
                    th Floor                
                    th Rating
                    th &nbsp;   
                    th &nbsp;
                    th &nbsp;             

                  tbody.experienceBody
                    - each val in results
                      tr                                                                                            
                        td #{val.locality}
                        td #{val.city}
                        td #{val.type}
                        td #{val.floor}
                        td #{val.rating} 
                        td 
                          a(href = "/userexperience/" + val._id) View Details
                        td 
                          a(href = "/userExperience/edit/" + val._id) Edit Experience
                        td 
                          a(href = "#", rel = val._id, class = "deleteExperienceLink" ) Delete Experience 
    br
    br
  script(src="/javascripts/global.js")

