extends ../layouts/layout
block content
  - var action = '/userExperience/results'
  body#page-top(data-target='.navbar-fixed-top')    
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= title
              &nbsp;
              i.fa.fa-binoculars             
          br
          br  
          br
          br 
          .box
            .col-lg-12
              form.form-vertical(method="get", action=action, name="expSearchResultsForm", role ="form") 
                -if(req.session.loadLogin === 'true') 
                  input(type="hidden", id="notLoggedIn", name="notLoggedIn", value="#{req.session.loadLogin}")   
                .row       
                  .form-group    
                    .col-lg-2                
                    label.control-label.col-lg-4(for="locality") Property address - Locality: &nbsp;
                    .col-lg-2          
                      input.form-control(type="text", id="locality", name="locality", placeholder="Eg: Bandra")
                  br
                  br
                  .form-group
                    .col-lg-2
                    label.control-label.col-lg-4(for="city") Property address - City: &nbsp;
                    .col-lg-2
                      input.form-control(type="text", id="city", name="city", placeholder="Eg: Mumbai")
                  br 
                  br           
                  .form-group 
                    .col-lg-2
                    label.control-label.col-lg-4(for="type") Property type: &nbsp;
                    .col-lg-2
                      select.form-control(id="type" name="type")
                        option(value="0") --Select--
                        option(value="1") Residential: 1RK
                        option(value="2") Residential: 1BHK
                        option(value="3") Residential: 2BHK
                        option(value="4") Residential: 3BHK & Above
                        option(value="5") Commercial: Office Space
                        option(value="6") Commercial: Retail Establishment
                        option(value="7") Other
                  br
                  br
                  .form-actions
                    .col-lg-4
                    button.btn.btn-default.btn-medium.col-lg-2(type="submit") Search
                      //i.fa.fa-search             
    include ../users/login_modal.jade 
script(src="/javascripts/global.js")   
