extends ../layouts/layout
block content 
  body#page-top(data-target='.navbar-fixed-top')  
  .pageBody
    .pageBody-body
      section#ViewExperience.container.pageBody-content-section        
        .row           
          .col-md-8
            h2= 'View Experience Details'
              &nbsp;
              i.fa.fa-eye
          br
          br  
          br
          br     
          .box
            .col-lg-12
              table.table.table-hover(id="searchResultsTable")
                thead:tr
                  th Locality
                  th City
                  th Type
                  th Floor                
                  th Rating
                  th &nbsp;
                  th &nbsp;                

                tbody
                  - each val in results
                    tr                                                                                            
                      td #{val.locality}
                      td #{val.city}
                      //td #{val.type}
                      input(type="hidden", id="hdntype" value="#{val.type}")
                      td(id="tdType")                    
                      td #{val.floor}
                      td #{val.rating} 
                      td 
                        a(href='/userexperience/' + val._id) View Details
                      td 
                        -var loggedinUserId = JSON.stringify(req.user._id)
                        -var experienceUserId = JSON.stringify(val.userid)          
                        -if(loggedinUserId === experienceUserId)
                          //a.btn.btn-default.btn-medium(href="/userExperience/edit/" + result._id) Edit Experience
                          a.btn.btn-info(data-toggle="modal", href="/userExperience/edit/" + val._id) Edit Experience
                          &nbsp;&nbsp;&nbsp;
                        -else
                          a.btn.btn-info(data-toggle="modal", href="/messages/compose/" + val.userid, data-target="#createModalDialogDiv") Send a message
                          &nbsp;&nbsp;&nbsp;
                        //a(href='#', onClick = 'openMessageDialog();') 
                        //a.btn.btn-info(data-toggle="modal", href="/messages/compose/" + val.userid, data-target="#createModalDialogDiv") Send a message          
              //if (pages > 1)            
                //ul.pagination
                  //!= createPagination(pages, page)   
              .modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", id="createModalDialogDiv")
                .modal-dialog
                  .modal-content
  script(src="/javascripts/global.js") 

