doctype html
html
	include ../includes/head
	body
		include ../includes/new_header
		//.container			
			//block main
		//.content
		block content			
	include ../includes/footer
	include ../includes/foot